<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<!-- <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>   -->

	<parameter name="browser" value="chrome"/>
	<parameter name="url" value="https://classic.crmpro.com/"/>
	<test name="Free CRM App">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
		
		</classes>
	</test>
</suite>